.app {
  min-height: 100vh;
  overflow: hidden;
  background-color: #EFEFEF;
}

.app main {
  /* padding: 0 0.5rem; */
}

.testIcon {
  position: fixed;
  bottom: 2rem;
  left: 50vw;
}

.version {
  position: fixed;
  bottom: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  font-size: 14px;
}