.app {
  min-height: 100vh;
  overflow: hidden;
  background-color: #EFEFEF;
}

.app main {
  /* padding: 0 0.5rem; */
}

.version {
  position: fixed;
  bottom: 1rem;
  display: flex;
  flex-direction: row;
  width: 98%;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 14px;
  align-items: center;
}