.DataSetupWrapper {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.DataRateWapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.RateMeasureRightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.RateMeasureRightSideSubWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.OuterText {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #A0A0A0;
    cursor: pointer;
    height: 20px;
}
.DataMeasureButtom {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid #A5A5A5;
    border-bottom: 2px solid #A5A5A5;
    padding: 8px;
    margin-right: 10px;
}
.TextStyle {
    margin-left: 10px;
    margin-right: 10px;
    width: 25px;
    font-weight: 500;
    text-align: center;
}
.IButton {
    width: 22px;
    cursor: pointer;
}
@media (min-width:580px) {
    .DataSetupWrapper {
        margin-top: 50px;
        margin-left:100px;
        margin-right: 100px;
    }
}