.HeaderTextWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 25px 5px 25px;
    font-weight: 500;
}
.HeaderTextSubWrapper {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.RateMeasureRightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.TempratureDegreeIcon {
    height: 2px;
    width: 2px;
    border-radius: 100px;
    margin-left: 4px;
    margin-bottom: 10px;
}
.DataMeasureButtom {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 4px;
    /* padding: 8px; */
    margin-right: 10px;
}
.ArrowButtonContainer {
    padding:8px;
    cursor:pointer;
    border:none;
    outline: none;
}
.TextStyle {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 500;
    width: 25px;
    text-align: center;
}
.IButton {
    width: 22px;
    cursor: pointer;
}
.HeaterElementWraper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.TemperatureWrapper {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 20px;
}
.TemperatureDegree {
    border: 2px solid #000000;
    border-radius: 100px;
    width:2px;
    height: 2px;
    margin-right: 4px;
}
.HeaterEelementImage {
    height: 120px;
}
.HeaterElementText {
    font-weight: 500;
    font-size: 13px;
    width: 120px;
}
.HeaterElementSubWraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.ButtonWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 13px;
}
.Button {
    background-color: #424C58;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin-right: 20px;
    border-radius: 100px;
    width:50px;
    padding: 18px 2px;
    cursor: pointer;
    border:none;
    outline: none;
}
@media (min-width:600px) {
    .HeaterEelementImage {
        height: 180px;
    }
    .HeaderTextWrapper{
        margin: 10px 100px 0px 100px;
    }
}