.HeaderTextWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 25px 5px 25px;
    font-weight: 500;
}
.HeaderTextSubWrapper {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.RateMeasureRightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.TempratureDegreeIcon {
    height: 2px;
    width: 2px;
    border-radius: 100px;
    margin-left: 4px;
    margin-bottom: 10px;
}
.DataMeasureButtom {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 4px;
    /* padding: 8px; */
    margin-right: 10px;
}
.ArrowButtonContainer {
    padding:8px;
    cursor:pointer;
    border:none;
    outline: none;
}
.TextStyle {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 500;
    width: 25px;
    text-align: center;
}
.IButton {
    width: 22px;
    cursor: pointer;
}
.HeaterElementWraper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.TemperatureWrapper {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 20px;
}
.TemperatureDegree {
    border: 2px solid #000000;
    border-radius: 100px;
    width:2px;
    height: 2px;
    margin-right: 4px;
}
.HeaterEelementImage {
    height: 120px;
}
.HeaterElementText {
    font-weight: 500;
    font-size: 13px;
    width: 120px;
    margin-top: 20px;
}
.HeaterElementSubWraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.ButtonWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 13px;
}
.Button {
    background-color: #424C58;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin-right: 20px;
    border-radius: 100px;
    width:50px;
    padding: 18px 2px;
    cursor: pointer;
    border:none;
    outline: none;
}
/* related to new changes for graph */

.TextBody {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    margin-top: 10px;
}
.GraphStyle {
    margin-top: 20px;
    width: 250px;
    /* height: 300px; */
}
.ButtonForGraphWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.RestartButton {
    background-color: #424C58;
    color: #FFFFFF;
    border-radius: 100px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    width:50px;
    padding: 18px 4px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}
.StopButton {
    background-color: #424C58;
    color: #FFFFFF;
    border-radius: 100px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    width: 50px;
    padding: 18px 4px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}
.FooterTextWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}
.FooterInnerTextWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 250px;
    margin-right: 0px;
    font-size: 14px;
}
.FooterText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin-top: 15px;
    padding-left:20px;
    height: 29px;
    border-radius: 20px;
    font-size: 10px;
}
.SaveButton {
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 500;
    background-color: #424C58;
    border-radius: 20px;
    /* height: 25px; */
    padding:8px 0px;
    width: 60px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
}
.ButtonHorizontalWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.ButtonHorizontalInnerWrapper {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}
.RestartHorizontalButton {
    background-color: #424C58;
    color: #FFFFFF;
    border-radius: 100px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    width:50px;
    padding: 18px 4px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    margin-right: 20px;
}
.StopHorizontalButton {
    background-color: #424C58;
    color: #FFFFFF;
    border-radius: 100px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    width: 50px;
    padding: 18px 4px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}

@media (min-width:580px) {
    .HeaterEelementImage {
        height: 100px;
    }
    .HeaderTextWrapper{
        margin: 10px 200px 0px 200px;
    }
    .GraphStyle {
        width: 550px;
        height:200px;
    }
    .ButtonForGraphWrapper {
        margin-left: 20px;
    }
    .FooterInnerTextWrapper {
        width: 420px;
        margin-right: 60px;
    }
    .HeaterElementTemperatureText {
        display: flex;
        flex-direction: row;
        color:red;
        font-weight: 500;
        font-size: 13px;
        width: 120px;
        margin-top: 20px;
        justify-content: flex-end;
    }
    .TemperatureDegree {
        border: 2px solid red;
        border-radius: 100px;
        width:2px;
        height: 2px;
        margin-right: 4px;
    }
}