.TopWrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #000000;
    opacity: 50%;
}
.TopSecondWrapper {
    top: 180px;
    /* left: 40%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    /* transition: all 0.3s ease-out; */

}
.IButtonComponentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.TextContainer {
    width: 320px;
    background-color: #EFEFEF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex:1;
}
.Headertext {
    background-color: #424C58;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    color: #FFFFFF;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.BodyWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    margin-bottom:10px;
    flex:1;
}
.Bodytext {
    margin: 0px 10px;
    display: flex;
    flex:1;
    min-height: 50px;
    flex-direction: column;
    justify-content: center;
}
.BodyPrimaryText {
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 15px;
}
.BodySecondaryText {
    font-size: 14px;
    margin-bottom: 10px;
}
.ButtonWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.CancelButton {
    background-color: #424C58;
    padding: 8px;
    border-radius: 5px;
    margin-right: 10px;
    width:60px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    outline: none;
}
.YesButton {
    background-color: #9CD5CD;
    padding: 8px;
    border-radius: 5px;
    margin-right: 10px;
    width:60px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    border: none;
    outline: none;
}
.IButtonTopWrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #000000;
    opacity: 0;
}
.IButtonTextContainer {
    background-color: #424C58;
    padding: 10px;
    border-radius: 5px;
    color: #FFFFFF;
    width: 70%;
}
.IButtonHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:680px) {
    .TextContainer{
        height: 150px;
        width: 220px;
    }
}
