.HeaderWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #424C58;
    height:28px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color:#FFFFFF;
    font-size: 12px;
    font-weight: 500;
    padding-left: 10px;
}
.CadWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
}
.CadMobileWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
.oneCardWrapper {
    background-color: #FFFFFF;
    cursor: pointer;
    width:300px;
    min-width: 285px;
    padding-top: 20px;
    margin-top: 5px;
    margin-right: 25px;
    border-radius: 5px;
    margin-bottom: 2px;
    box-shadow: 0px 2px #B6B5B5;
}  
.oneCardMobileWrapper {
    background-color: #EFEFEF;
    position: relative;
    cursor: pointer;
    width:250px;
    min-width: 250px;
    padding-top: 20px;
    /* margin-top: 5px; */
    /* margin-right: 25px; */
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 2px 2px #B6B5B5;
} 
.CardTitleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
} 
.CardTitleWrapperLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 20px;
}
.FooterWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: 2px solid #E4E4E4;
}

.FooterIcons {
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    width: 20px;
}

.MoreModalTopWrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #000000;
    opacity: 0.5;
}
.MoreModalSecondWrapper {
    top: 40%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    /* transition: all 0.3s ease-out; */

}
.MoreModalWrapper {
    /* position: absolute; */
    width: 150px;
    border-radius: 5px;
    /* height: 120px; */
    background-color: #FFFFFF;
    padding-top: 1px;
    text-align: center;
    box-shadow: 0px 2px 2px 2px #424C58;
}
.moreOneRow {
    padding-bottom: 10px;
    border-bottom: 1px solid #B6B5B5;
    padding-top: 5px;
    color: #424C58;
}

.moreOneRow:hover {
    background-color: green;
}