.ScanDeviceWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    padding: 20px;
}
.LabHubStickerWrapper {
    /* width:70%; */
    width:200px;
    height:130px;
    margin-bottom: 25px;
}
.ScanDeviceButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #424C58;
    border-radius: 5px;
    padding: 10px;
    width:70%;
    width:160px;
    cursor: pointer;
    margin-bottom: 15px;
}
.BluetoothIconWrapper {
    width: 20px;
    height: 27px;
}
.ScanDeviceText {
    color: #FFFFFF;
    margin-left: 8px;
    font-size: 18px;
    font-weight: 400;
}

.ExtraButtonWrapper {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    position: fixed;
    top:80px;
    right:0px;
}
.ExtraButton {
    cursor: pointer;
    margin-top: 6px;
    margin-right: 10px;
    padding:5px;
    background-color: #4285F4;
    color:#FFFFFF;
    border-radius: 5px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (min-width:580px) {
    .LabHubStickerWrapper {
        width: 250px;
        height:160px;
    }
    .ScanDeviceWrapper {
        margin-top: 90px;
    }
    .ScanDeviceButton {
        width: 180px;
    }
}