.ScanDeviceWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    padding: 20px;
}
.LabHubStickerWrapper {
    width:70%;
    margin-bottom: 25px;
}
.ScanDeviceButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #424C58;
    border-radius: 5px;
    padding: 10px;
    width:70%;
    cursor: pointer;
}
.BluetoothIconWrapper {
    width: 20px;
    height: 27px;
}
.ScanDeviceText {
    color: #FFFFFF;
    margin-left: 8px;
    font-size: 18px;
    font-weight: 400;
}
@media (width >= 480px) and (width <= 800px) {
    .LabHubStickerWrapper {
        width: 50%;
    }
    .ScanDeviceWrapper {
        margin-top: 8%;
    }
    .ScanDeviceButton {
        width: 45%;
    }
}
@media (min-width:800px) {
    .LabHubStickerWrapper {
        width: 25%;
    }
    .ScanDeviceWrapper {
        margin-top: 4%;
    }
    .ScanDeviceButton {
        width: 22%;
    }
}