.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 25px;
    margin-bottom: 45px;
}
.SubWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.HeaterTextWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:390px;
    color: #424C58;
    font-size: 18px;
}
.HeaterAbsorbanceWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:800px;
    color: #FFFFFF;
    font-size: 18px;
    background-color:#424C58;
    margin-bottom:5px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 5px;
}
.ColumnWrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 200px;
    /* margin-right: 10px; */
}
.TempratureDegreeIcon {
    height: 2px;
    width: 2px;
    border-radius: 100px;
    margin-left: 4px;
    margin-bottom: 10px;
    border: 1px solid #FFFFFF;
}
.ColumnHeader {
    background-color: #424C58;
    color: #FFFFFF;
    font-weight: 400;
    height: 45px;
    /* border-top-right-radius: 5px; */
    /* border-top-left-radius: 5px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ColumnBodyWrapper {
    background-color: #EFEFEF;
    /* border-top-right-radius: 5px; */
    /* border-top-left-radius: 5px; */
    box-shadow: 1px 2px 5px 1px #B6B5B5;
    margin-top: -2px;
    padding-top: 2px;
}
.ColumnBody {
    height: 35px;
    padding-top: 4px;
    border:1px solid #9CD5CD;
    display: flex;
    margin-bottom:0.5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}